# Ignore Terraform local plugin cache and state files
# Ignore the per-project .terraform directory (local provider binaries)
/terraform/.terraform/

.terraform/

C:\Users\hussa\Desktop\Network work\CA 1\CA1-Assg\terraform\.terraform\providers\registry.terraform.io\hashicorp\azurerm\4.51.0\windows_amd64\terraform-provider-azurerm_v4.51.0_x5.exe

# Terraform state and lock files (optional but usually not committed)
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Explicitly ignore terraform state files inside the terraform/ folder
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup

# Ignore local terraform variable files containing sensitive values
/terraform/terraform.tfvars



# OS and editor files
*.log
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini